tests/testthat/log*
inst/extras/*.tar.gz
inst/extras/*.RData
inst/extras/*~
*~
*.Rcheck
*.Rout
.Rproj.user
.Rhistory
*.Rproj
sandbox/*
todo.txt
TODO.tdl
vignettes/pxweb.R
.DS_Store
.RData
doc
Meta
docs
